# Monad chain config
NEXT_PUBLIC_MONAD_CHAIN_ID=
NEXT_PUBLIC_MONAD_CHAIN_NAME=Monad
NEXT_PUBLIC_MONAD_RPC_URLS=
NEXT_PUBLIC_MONAD_EXPLORER_URLS=
NEXT_PUBLIC_MONAD_NATIVE_NAME=MON
NEXT_PUBLIC_MONAD_NATIVE_SYMBOL=MON
NEXT_PUBLIC_MONAD_NATIVE_DECIMALS=18

# Contract config
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_GAME_VAULT_ADDRESS=
